.searchInput{
    display:flex;
    align-items:center;
    background-color:#fff;

    border-radius: 8px;
    justify-content: space-between;
    width:90%;
    max-width: 600px;
    >input{
        border:0;
        margin-left: 10px;
        outline-width: 0;
        height:40px;
        width:100%;
    }
    >button{
        height:40px;
        background-color:rgb(108, 122, 126);
        border:0;
        cursor: pointer;
        padding:1rem;
        margin-left: 1rem;
        display:flex;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        align-items:center;
        >p{
            margin-bottom: 0;
            margin-left: 0.5rem;
        }
    }
}